@charset "UTF-8";

:root {
    --primaria: #5f3319;
    --secundaria:#fff9f5;
    --terciaria:#ffe1e1;
    --cor-semedestaque: #e06219;
    --cor-meio-termo: #AD5811;
}

body {
    background-color: white;
    color: var(--primaria);

    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--secundaria);
    color: var(--primaria);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor-semedestaque);
}

.grao-cafe {
    height: 400px;
    width: 100vw;
    background-color: var(--cor-meio-termo);
    background: url(image/bg-cafe.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: -2px -3px 9px 0px rgba(0, 0, 0, 0.8);
}

.grao-cafe-grande {
    height: 300px;
    width: 100vw;
    background-color: var(--cor-meio-termo);
    background: url(image/bg-cafe-grande.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: -2px -3px 9px 0px rgba(0, 0, 0, 0.8);
}

.navbar-brand, .nav-link {
    color: var(--primaria);
    opacity:0.5;
    text-decoration: none;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--primaria);
    opacity: 1;
}

main {
    background-color: white;
    font-size: 1.4em;
    overflow: hidden;

}

main div a.botao-destaque {
    background-color: var(--cor-semedestaque);
    border: 1px solid var(--primaria);
    font-size: 0.9em;
    font-weight: 600;
}

main div a.botao-destaque:hover {
    background-color: #66361a;
    border: 1px solid var(--primaria);
    color: white;
}

main div a.botao {
    background-color: var(--secundaria);
    border: 1px solid var(--cor-semedestaque);
    font-size: 0.9em;
    font-weight: 600;
}

main div a.botao:hover {
    background-color: var(--cor-semedestaque);
    border: 1px solid var(--primaria);
    color: white;
}

main img#caneca-branca {
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--cor-semedestaque);

    transition: transform 0.8s;
}

main img#caneca-branca:hover {
	transform: scale(1.05);
}

main .grupo-caixas {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    gap: 20px;
}

main div.caixa {
    background-color: var(--secundaria);
    border: 2px solid var(--cor-semedestaque); 

    border-radius: 30px;
    
    transition: transform .8s;
}

main div.caixa:hover {
    transform: scale(1.03);
}

main div.caixa > span {

    font-size: 2em;

    margin: 1rem 0;
}

main div.caixa > h4 {

    font-size: 1.3em;
}

main div.caixa > p {

    font-size: 0.8em;
}

#carousel {
    width: 70vw; 
    margin: auto;
}

.teste {
    width: 80%;
}

@media screen AND (min-width: 768PX) {
    #carousel {
        width: 50vw;
    }
}