@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

:root {
    --cor-base: #5f3319;
    --cor-base-forte: #794120;
    --cor-base-clara: #b55a26;
}

body {
    background-image: url(image/bg-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
}

header h1 {
    font-family: 'Mynerve', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

div.parallax-caneca-vermelha {
    height: 35vh;

    background-image: url(image/caneca-vermelha.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    box-shadow: 2px -4px 12px 1px black
}

main {
    background-color: var(--cor-base);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 2em;
}

main h2 {
    font-family: 'Mynerve', Arial, Helvetica, sans-serif;
}

main .card-group {
    box-shadow: 3px -3px 12px 2px rgba(0, 0, 0, 0.5)
}

main .card {
    background-color:var(--cor-base-forte);
    border-width: 1px;
}

main article img.card-img-top {
    max-height: 340px;
}

main article img.caneca-branca {
    display: block;
    margin: auto;
    max-height: 30vw;
    border: 2px solid var(--cor-base-clara);
    border-radius: 50%;
}

main form .col-sm-10 {
    margin-left: -15px;
}

form #botao {
    display: block;
    margin: auto;

    color: white;
    font-size: 1.2em;
    
    background-color: var(--cor-base-clara);
    border: 1px solid var(--cor-base-forte);
    border-radius: 10px;
    
    height: 45px;
    width: 400px;
}

form #botao:hover {
    background-color: var(--cor-base-forte);
}

footer {
    background-color: var(--cor-base-clara);
    padding: 0.5em 0px;
    margin: 0px;
}

footer p {
    text-align: center;
    text-shadow: 2px -1px 1px rgba(0, 0, 0, 0.5);
    margin: 0px;
}