@charset "UTF-8";

:root {
    --primaria: #5f3319;
    --secundaria:#fff9f5;
    --cor-semedestaque: #e06219;
    --cor-meio-termo: #AD5811;
}

body {
    color: var(--primaria);
    border-bottom: 1px solid var(--cor-semedestaque);
}

header {
    background-color: var(--secundaria);
    color: var(--primaria);
    padding-bottom: 10px;
}

header .grao-cafe {
    height: 300px;
    width: 100vw;
    background-color: var(--cor-meio-termo);
    background: url(image/bg-cafe.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: -2px -3px 9px 0px rgba(0, 0, 0, 0.8);
}

.navbar-brand, .nav-link {
    color: var(--primaria);
    opacity:0.5;
    text-decoration: none;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--primaria);
    opacity: 1;
}